/* Start Variables */
:root {
    --main-color: ;
    --secondary-color: ;
}
/* End Variables */

/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}
ul {
    list-style: none;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* meduim */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */

/* Start components */
/* End components */

/* Start header */
header {
    background-color: #222;
    height: 60px;
    display: flex;
    align-items: center;
}
header .container {
    padding: 10px 50px;
    display: flex;
    align-items: center;
}
/* logo part */
header .logo img {
    width: 40px;
}
/* nav bar */
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
header nav .toggle-menu {
    background-color: transparent;
    color: #fff;
    display: none;
}
header nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}
header nav ul li a {
    text-decoration: none;
    color: #fff;
}
/* media query */
@media (max-width: 767px) {
    .container {
        /* width: 750px; */
        /* better */
        width: 100%;
        max-width: 750px;
    }
    /* ~ => selects elements that are on the same level in the HTML */
    header nav .toggle-menu:hover ~ ul::before,
    header nav .toggle-menu:hover ~ ul {
        display: block;
    }
    header nav ul::before {
        content: "";
        position: absolute;
        color: #222;
        border: solid 14px;
        border-color: transparent transparent #222 transparent;
        top: -27px;
        right: 14px;
        display: none;
    }
    header nav ul {
        flex-direction: column;
        position: absolute;
        right: -18px;
        top: calc(50% + 50px);
        background-color: #222;
        gap: 0;
        display: none;
    }
    header nav ul li {
        margin: 15px 20px;
        width: 130px;
        text-align: left;
        border-bottom: solid 2px #fff;
        padding-bottom: 10px;
    }
    header nav .toggle-menu {
        display: block;
    }
}
/* End header */

/* Start home */
.home {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 60px);
}
.home .back {
    width: 100vw;
    height: 380px;
    background-color: #333;
    border-bottom: solid #000 9px;
}
/* .home .back:hover {
} */
.home .container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -29%;
}
.home .image {
    position: relative;
}
.home .image::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    top: 0;
    transform: rotate(90deg);
    background-image: linear-gradient(to right, #000 81.5%, #fff 81.5%);
}
.home .image img {
    width: 240px;
    position: relative;
}
.home .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
/* .home .text h1 {
} */
.home .text h1 span,
.home .text h4 span {
    color: #1e3a8a;
}
/* .home .text h4 {
} */
/* .home .text p {
} */
/* End home */
