/* Start Variables */
:root {
    --bk-color: #000;
    --bl-color: #1e3a8a;
    --wh-color: #f5f5f5;
    --shadow-color: #d3d3d3;
    --Html-color: #f54927;
    --Css-color: #1572b6;
    --Js-color: #f7df1e;
    --Git-color: #f05032;
    --Github-color: #181717;
    --Linux-color: #fcc624;
    --Vscode-color: #007acc;
    --Bash-color: #4eaa25;
}
/* End Variables */

/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}
ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/* small */
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
/* End global rules */

/* Start components */
.container > h1 {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--wh-color);
    background-color: rgba(245, 245, 245, 10%);
    width: 320px;
    height: 110px;
    border-radius: 20px;
}
/* End components */

/* Start header */
header {
    background-color: var(--bk-color);
    height: 60px;
    display: flex;
    align-items: center;
}
header .container {
    display: flex;
    align-items: center;
}
/* logo part */
header .logo img {
    width: 40px;
}
/* nav bar */
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
}
header nav .toggle-menu {
    background-color: transparent;
    color: var(--wh-color);
    display: none;
}
header nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}
header nav ul li a {
    text-decoration: none;
    color: var(--wh-color);
}
/* media query */
@media (max-width: 767px) {
    header nav .toggle-menu {
        display: block;
    }
    header nav ul {
        position: absolute;
        background-color: var(--bk-color);
        right: -6px;
        top: calc(50% + 50px);
        display: none;
    }
    header nav ul::before {
        content: "";
        position: absolute;
        color: var(--bk-color);
        border: solid 14px;
        border-color: transparent transparent var(--bk-color) transparent;
        top: -27px;
        right: 6px;
        display: none;
    }
    /* ~ => selects elements that are on the same level in the HTML */
    header nav .toggle-menu:hover ~ ul::before,
    header nav .toggle-menu:hover ~ ul {
        display: block;
    }
    header nav ul li {
        text-align: left;
        margin: 15px 20px;
        width: 130px;
        border-bottom: solid 2px var(--wh-color);
        padding-bottom: 10px;
    }
}
/* End header */

/* Start home */
.home {
    display: flex;
    flex-direction: column;
    background-color: var(--wh-color);
}
.home .back {
    width: 100%;
    height: 340px;
    background-color: var(--bl-color);
    border-bottom: solid var(--bk-color) 9px;
}
.home .container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: calc(((240px * 81) / 100));
    gap: 75px;
}
.home .image {
    position: relative;
}
.home .image::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    top: 0;
    background-image: linear-gradient(
        to bottom,
        var(--bk-color) 81%,
        var(--wh-color) 81%
    );
}
.home .image img {
    width: 240px;
    position: relative;
    z-index: 2;
}
.home .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    color: var(--bk-color);
}
.home .text h1 span,
.home .text h4 span {
    color: var(--bl-color);
}
@media (max-height: 460px) {
    .home .back {
        height: 240px;
        border-width: 7px;
    }
    .home .container {
        bottom: calc(((180px * 81) / 100));
    }
    .home .image::before {
        width: 180px;
        height: 180px;
    }
    .home .image img {
        width: 180px;
    }
}
/* End home */

/* Start Tech */
.tech {
    background-color: var(--bl-color);
    display: flex;
}
.tech .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tech .cards {
    width: 80%;
    flex: 1;
    margin: 30px 0;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    perspective: 1000px;
}
.tech .card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--wh-color);
    background-color: var(--bk-color);
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
    width: 140px;
    height: 140px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}
.tech .card:hover {
    transform: rotateY(180deg);
}
.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: white;
    backface-visibility: hidden;
}
.card .back {
    transform: rotateY(180deg);
}
.tech .card i {
    font-size: 50px;
}
.tech .card img {
    width: 60px;
}
.tech .card.Html i,
.tech .card.Html .face {
    color: var(--Html-color);
}
.tech .card.Css i,
.tech .card.Css .face {
    color: var(--Css-color);
}
.tech .card.Js i,
.tech .card.Js .face {
    color: var(--Js-color);
}
.tech .card.Git i,
.tech .card.Git .face {
    color: var(--Git-color);
}
.tech .card.Vs .face {
    color: var(--Vscode-color);
}
.tech .card.Linux i,
.tech .card.Linux .face {
    color: var(--Linux-color);
}
.tech .card.Bash .face {
    color: var(--Bash-color);
}
@media (max-width: 767px) {
    .tech .card {
        width: 100px;
        height: 100px;
    }
}
/* End Tech */
